html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

form,
input,
button,
textarea,
a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
/* ==============header============== */
.header {
  background-image: url(../img/contact/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.header-filter {
  background: rgba(0, 0, 0, 0.6);
}
.header-inner {
  padding-top: 40px;
  height: 498px;
  display: flex;
  flex-direction: column;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.nav a {
  text-decoration: none;
}
.nav__link {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px;
}
.nav__item {
  position: relative;
}
.nav-inner {
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  min-width: 220px;
  opacity: 0;
  visibility: hidden;
  scale: 1 0;
  transform-origin: 0 0;
  transition: all 0.3s ease-in-out;
}
.nav-inner > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.nav__item:hover .nav-inner {
  opacity: 1;
  scale: 1 1;
  visibility: visible;
}
.nav-inner__link {
  display: inline-block;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  padding-left: 25px;
  height: 45px;
  line-height: 45px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.nav-inner__link:hover {
  background: #b80257;
  color: #fff;
  padding-left: 30px;
}
.actions__search {
  margin-left: 15px;
  font-size: 18px;
}
.actions__cart {
  font-size: 20px;
  margin-left: 28px;
}

.header-main {
  margin: auto;
  font-family: "PT Sans", sans-serif;
}
.header-main__title {
  font-size: 3.2rem;
  text-transform: uppercase;
}
.bread-crumbs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.bread-crumbs li:not(:first-child)::before {
  content: "/";
  display: inline-block;
  margin: 0 4px;
}
.bread-crumbs a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.bread-crumbs a:hover {
  color: #783df0;
}

/* ==============content============== */
.contents {
  margin-top: 110px;
}
.contact-address {
  display: flex;
  gap: 30px;
}
.contact-address__banner {
  background-image: url(../img/contact/banner-main-content.jpg);
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-address__opacity {
  background: rgba(119, 60, 238, 0.85);
  padding: 60px 0 92px 70px;
  height: 601px;
}

.contact-address__title {
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 18px;
}
.contact-address__title::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background: #f2b604;
  position: absolute;
  left: 0;
  bottom: 0;
}
.contact-address__info {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: 90px;
}
.contact-address__info li {
  display: flex;
  gap: 50px;
}
.contact-address__phone {
  margin-top: 60px;
}
.contact-address__mail {
  margin-top: 60px;
}
.contact-address__icon {
  font-size: 30px;
}

.input-info {
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.7);
}
.input-info input,
.input-info textarea {
  border: 1px solid #f3f0fa;
  background: #f3f0fa;
  height: 70px;
  outline: none;
}
.input-info__contact {
  --column: 2;
  --spacing: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.input-info__contact input {
  width: calc((100% - var(--spacing)) / var(--column));
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}
.input-info__contact input:focus,
.input-info textarea {
  border: 1px solid #783df0;
}
.input-info textarea {
  width: 100%;
  height: 400px;
  padding: 30px;
  resize: none;
}
.input-info__btn {
  margin-top: 30px;
  background: #783df0;
  color: #fff;
  width: 150px;
  line-height: 45px;
  font-size: 1.8rem;
  transition: background 0.3s ease-in-out;
}
.input-info__btn:hover {
  background: #b80257;
}
iframe {
  margin-top: 100px;
}

/* ==============footer============== */
.footer {
  margin-top: 100px;
  background: #151515;
  padding: 80px 0 160px 0;
  color: rgba(255, 255, 255, 0.6);
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin: 8px 0 25px 0;
}
.footer-left {
  width: 270px;
}
.footer-left p {
  font-size: 1.4rem;
  line-height: 22px;
  margin-top: 22px;
}
.footer-left__download {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-center {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.footer-center-inner__link {
  display: inline-block;
  line-height: 30px;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.3s ease-in-out;
}
.footer-center-inner__link:hover {
  color: #b80257;
}
.footer-right {
  width: 270px;
}
.footer-right__form {
  margin-top: 25px;
}
.footer-right__form input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 20px;
  background: #272727;
  color: rgba(255, 255, 255, 0.6);
}
.footer-right__form button {
  margin-top: 10px;
  width: 95px;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  background: #b80257;
  position: relative;
}

.footer-right__form button span {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.footer-right__form button:hover span {
  color: #b80257;
}
.footer-right__form button::after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #fff;
  border-radius: 20px;
  scale: 0;
  transition: all 0.3s ease-in-out;
}
.footer-right__form button:hover::after {
  scale: 1;
}
